@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav > div > h4 {
    font-size: 24px;
    color:#233348;
    font-weight: 600;
}

nav > ul > li {
    font-size: 18px;
    font-weight: 700;
}

header > section {
    display: flex;
    justify-content: space-between;
    padding: 60px 190px;

    gap: 50px;
}

header > section > article {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

header > section > article > h1,
main > article > h1 {
    font-size: 48px;
    font-weight: 700;
} 

header > section > article > p,
main > article > p {
    font-size: 21px;
    font-weight: 300;
    color: #7D7987;
} 

header > section > article > button {
    padding: 20px 40px;
    border-radius: 55px;
    width: 200px;
    border: NONE;
    background-color: #458FF6;

    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.img-header {
    width: 650px;
    height: auto;
}

.text-box {
    padding-top: 100px;
}

main > article {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 200px 300px 80px 300px;
    text-align: center;
}

main > section {
    display: flex;
    justify-content: space-between;
    padding: 50px 240px;
    gap: 34px;

    flex-wrap: wrap;
}

main > section > div {
    background-color: #fff;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 10px 40px 50px 0px #E5E9F666;

    flex: 1 1 calc(25% - 20px); /* Ajusta o tamanho dos cards */
}

main > section > div > p {
    font-size: 16px;
    color:#7D7987;
    font-weight: 300;   
}

main > section > div > h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

main > .leading-plans {
    display: flex;
    gap: 120px;
    padding: 100px 190px;
}

main > .leading-plans > article > h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 80px;
}

main > .leading-plans > article > p {
    font-size: 18px;
    font-weight: 300;
    color: #7D7987;
} 

main > .leading-plans > article > button {
    padding: 20px 40px;
    border-radius: 55px;
    width: 200px;
    background-color: transparent;

    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #458ff6;
    border-color: #458FF6;
}

main > .leading-plans > article > button:hover {
    background-color: #458ff6;
    color: #fff;
    border-color: #fff;
}
